.sidebar {
	@media screen and (max-width: $break-large) {
		width: 100%;
	}

	h1 {
		font-size: 40px;
		line-height: 47px;

		@media screen and (max-width: $break-header) {
			word-break: break-word;
		}
	}

	ul {
		padding: 0;
	}
}
