.menuItem {
	&.blog {
		a {
			font-weight: 500;
			letter-spacing: 0.05rem;
		}
	}

	&.icon {
		@media screen and (max-width: $break-tablet) {
			display: none;
		}

		&:hover {
			svg {
				color: $bleuFonce;
				transition: all 0.3s ease-in-out;
			}
		}

		svg {
			color: $gris;
			transition: all 0.3s ease-in-out;
		}
	}

	&.contact {
		@media screen and (max-width: $break-tablet) {
			display: none;
		}
	}

	&.toggleTheme {
		--width: 7rem;
		--height: 4rem;
		$light: #ffbb52;
		$dark: $bleuFonce;

		width: var(--width);
		min-width: var(--width);
		height: var(--height);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
		position: relative;
		border: 0.3rem solid lighten($gris, 20%);
		border-radius: var(--width);
		cursor: pointer;

		&.light {
			.icons {
				.light {
					opacity: 1;
					transition: all 0.3s ease-in-out;
				}

				.dark {
					opacity: 0;
				}
			}

			span {
				left: 55%;
				border-color: $light;
				background-color: lighten($light, 20%);
			}
		}

		&.dark {
			border-color: lighten($dark, 10%);
			background-color: $dark;

			.icons {
				> svg {
					transform: rotate(0);
				}

				.lightImg {
					opacity: 0;
				}

				.darkImg {
					opacity: 1;
					transition: all 0.3s ease-in-out;
				}
			}

			span {
				left: 10%;
				border-color: #fff;
				background-color: lighten($dark, 20%);
			}
		}

		.icons {
			width: 100%;
			display: flex;
			justify-content: space-between;

			> svg {
				width: 40%;
				opacity: 1;
				transform: rotate(20deg);
				transition: transform 0.3s ease-in-out;
			}

			.lightImg {
				fill: $light;
			}

			.darkImg {
				fill: #fff;
			}
		}

		span {
			--size: calc(var(--height) - 2rem);
			width: var(--size);
			height: var(--size);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			border: 0.3rem solid black;
			border-radius: var(--size);
			transition: all 0.3s ease-in-out;
		}
	}
}
