body {
	margin: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

*:focus {
	outline-width: 0.3rem;
	outline-style: solid;
	outline-color: $bleuClair;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}
