.menu-vm {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 100px 50px;
	background-color: $light;
	z-index: 1;

	@media screen and (max-width: $break-tablet) {
		padding: 100px 30px;
	}

	.title {
		color: $dark;
	}
}
