.content {
	width: 100%;
	margin-top: 40px;

	img {
		width: 100%;
		margin: 20px 0 0 0;
	}

	ul {
		li {
			&:not(:first-of-type) {
				margin-top: 10px;
			}
		}
	}

	a {
		display: inline-block;
		position: relative;
		color: inherit;
		font-weight: 600;

		&:before {
			content: '';
			width: 0%;
			height: 2px;
			position: absolute;
			bottom: -2px;
			left: 0;
			background-color: $dark;
			transition: width 0.3s ease-in-out;
		}

		&:hover {
			&:before {
				width: 100%;
				transition: width 0.3s ease-in-out;
			}
		}
	}
}
