.search-bar {
	position: absolute;
	right: 100px;
	bottom: 60px;

	> div {
		&.active {
			i {
				animation-name: scaleInfinite;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}
		}

		input {
			-webkit-appearance: none;
			background-color: transparent;
			border: none;
			font-size: 20px;
			color: $light;

			&:focus,
			&:hover {
				outline: 0;
			}

			&::placeholder {
				color: $light;
				opacity: 0.5;
			}
		}

		i {
			font-size: 20px;
			color: $light;
			cursor: pointer;
		}
	}

	@keyframes scaleInfinite {
		0% {
			transform: translateX(-3px);
		}

		50% {
			transform: translateX(-1px);
		}

		100% {
			transform: translateX(-3px);
		}
	}
}
