$break-header: 1400px;
$break-large: 1220px;
$break-medium: 1024px;
$break-tablet: 768px;
$break-small: 425px;
$break-mini: 375px;

$clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);

$bleuFonce: #334155;
$bleuClair: #63b2ed;
$rouge: #f56565;
$vert: #26c485;
$gris: rgba(148, 163, 184, 1);
$gris2: #f1f5f9;
