.social-logos {
	&.desktop {
		position: absolute;
		top: 50%;
		right: 19px;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		@media screen and (max-width: $break-large) {
			display: none;
		}

		a {
			&:not(:first-of-type) {
				margin-top: 15px;
			}

			i {
				color: $light;
				font-size: 20px;
			}
		}
	}

	&.mobile {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 80px;

		a {
			&:not(:first-of-type) {
				margin-left: 20px;
			}

			i {
				color: $dark;
				font-size: 25px;
			}
		}
	}
}
