.projet {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;

	@media screen and (max-width: $break-large) {
		height: 100%;
		padding: 50px 0;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: initial;
	}

	@media screen and (max-width: $break-tablet) {
		height: auto;
	}

	> .left {
		padding: 60px 0 !important;

		@media screen and (max-width: $break-large) {
			order: 1;
		}
	}

	> .right {
		@media screen and (max-width: $break-header) {
			padding-right: 40px !important;
			padding-left: 40px !important;
		}

		@media screen and (max-width: $break-tablet) {
			padding-right: 15px !important;
			padding-left: 15px !important;
		}
	}

	nav.desktop {
		display: none;
	}

	.content {
		padding: 0 60px;

		@media screen and (max-width: $break-tablet) {
			padding: 0 15px;
		}

		> *:first-child {
			margin-top: 0;
		}
	}

	a.back {
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-weight: bold;
		color: $dark;

		&.bottom {
			margin-top: 80px;

			@media screen and (max-width: $break-large) {
				margin-top: 40px;
			}
		}

		svg {
			margin-right: 10px;

			path {
				fill: $dark;
			}
		}
	}

	img.main-image {
		width: 100%;
		height: 75%;
		margin-top: 40px;
		border-radius: 3px;
		object-fit: cover;

		@media screen and (max-width: $break-header) {
			height: 50%;
		}

		@media screen and (max-width: $break-large) {
			height: 400px;
		}
	}
}
