.comment-count {
	width: 3.5rem;
	height: 3.5rem;
	position: relative;
	cursor: pointer;
	transform: scale(1);
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}

	svg {
		width: 100%;
		height: 100%;
		fill: $bleuFonce;
	}

	span {
		--size: 1.8rem;
		width: var(--size);
		height: var(--size);
		position: absolute;
		top: -0.5rem;
		right: -0.5rem;
		padding: 0 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $rouge;
		border-radius: var(--size);
		color: #fff;
		font-size: 85%;
	}
}
