@import './utils/variables';
@import './utils/modifiers';

@import './base/reset';
@import './base/typography';

@import './components/button';
@import './components/availability';

@import './layout/container';
@import './layout/footer';
@import './layout/header';

@import './pages/index';

html {
	font-size: 10px;

	@media screen and (max-width: $break-large) {
		font-size: 9px;
	}

	@media screen and (max-width: $break-medium) {
		font-size: 8.5px;
	}
}

body {
	color: $bleuFonce;
}
