#app.--menu-open {
	.header-vm {
		display: none;
	}
}

.header-vm {
	width: 100%;
	display: none;
	justify-content: space-between;
	padding: 30px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: $light;

	@media screen and (max-width: $break-large) {
		background-color: $dark;
	}

	@media screen and (max-width: $break-tablet) {
		padding: 30px 20px;
	}

	.title {
		font-size: 15px;
		font-weight: bold;
		line-height: 20px;
		letter-spacing: 1.5px;
		color: $light;

		i {
			margin-left: 10px;
		}
	}

	@media screen and (max-width: $break-large) {
		display: flex;
	}
}
