.error {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $dark;
	z-index: 10000;
	padding: 20px;

	p,
	a {
		text-align: center;
		color: #fff;
		font-size: 20px;
	}

	a {
		text-decoration: underline;
	}
}
