.availability {
	position: relative;
	left: 0;
	text-align: center;
	margin-top: 5rem;

	> div {
		height: 100%;
		display: none;
		position: relative;
		padding: 0.5rem 1.5rem;
		border: 0.3rem solid var(--color);
		color: var(--color);
		border-radius: 2rem;
		font-size: 1.5rem;

		&.display {
			display: inline-block;
		}

		&.available {
			--color: #{$vert};

			&:before {
				background-color: lighten($vert, 20%);
			}
		}

		&.available-on {
			--color: #ffbb52;

			&:before {
				background-color: lighten(#ffbb52, 20%);
			}
		}

		&.unavailable {
			--color: #{$rouge};

			&:before {
				background-color: lighten($rouge, 20%);
			}
		}
	}
}
