.menuMobile {
	width: 100%;
	height: auto;
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 10vw;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 0 1px 10px 0 rgb(0 0 0 / 14%), 0 1px 2px 0 rgb(0 0 0 / 24%);
	list-style-type: none;

	@media screen and (max-width: $break-tablet) {
		display: flex;
	}

	@media screen and (max-width: $break-small) {
		padding: 0rem 5vw;
	}

	> div {
		width: 2.7rem;

		a {
			display: block;
		}
		svg {
			width: 100% !important;
			height: 100% !important;
			color: $gris;
		}

		&.contact {
			width: 8rem;
			min-width: 8rem;
			height: 8rem;
			position: relative;
			top: -2rem;
			padding: 2.5rem;
			background-color: $vert;
			border-radius: 100%;

			svg {
				color: #fff;
			}
		}
	}
}
