.cookie-banner {
	max-width: 650px;
	padding: 20px 80px 20px 20px;
	position: absolute;
	bottom: 75px;
	right: 86px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $light;
	box-shadow: -2px 6px 19px -8px rgb(52 72 94 / 35%);

	@media screen and (max-width: $break-large) {
		max-width: none;
		width: 97%;
		position: fixed;
		bottom: 100px;
		left: 50%;
		right: auto;
		transform: translateX(-50%);
		z-index: 1000;
	}

	@media screen and (max-width: $break-tablet) {
	}

	> svg {
		width: 80px;
		min-width: 80px;
		height: 80px;

		@media screen and (max-width: $break-tablet) {
			width: 80px;
			min-width: 80px;
			height: 80px;
		}

		@media screen and (max-width: $break-small) {
			width: 40px;
			min-width: 40px;
			height: 40px;
		}
	}

	> span {
		margin-left: 20px;

		@media screen and (max-width: $break-small) {
			font-size: 14px;
		}

		> a {
			margin-top: 10px;
			color: $dark;
			font-weight: 600;
		}
	}

	> button {
		position: absolute;
		top: 21px;
		right: 20px;
		border: none;
		cursor: pointer;
		outline: none;

		> i {
			font-size: 20px;
			color: $dark;
		}
	}
}
