.posts {
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;
	position: relative;

	&.one {
		> a {
			@media screen and (min-width: $break-medium + 1) {
				flex: 1 1 100%;
			}
		}
	}

	&.two {
		> a {
			flex: 1 1 50vh;
		}
	}

	&.full {
		> a.large {
			@media screen and (min-width: $break-medium + 1) {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: row;
				gap: 5rem;
				flex: 1 1 100%;
			}

			.thumbnail {
				@media screen and (min-width: $break-medium + 1) {
					width: 70%;
					min-width: 70%;
					height: 35rem;
				}
			}

			h3 {
				@media screen and (min-width: $break-medium + 1) {
					font-size: 3rem;
				}
			}

			p {
				@media screen and (min-width: $break-medium + 1) {
					font-size: 1.8rem;
				}
			}
		}
	}
}
