body.index {
	main {
		position: relative;
		padding-top: 10rem;
		margin-top: 10rem;

		&:before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $gris2;
			clip-path: $clip-path;
		}

		> * {
			position: relative;
		}
	}

	.introduction {
		min-height: 60vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 3rem 0;
		margin-top: 9.4rem;

		@media screen and (max-width: $break-tablet) {
			margin-top: 0;
		}

		.memoji {
			position: relative;
			text-align: center;

			img {
				width: 16rem;
				margin-top: 2rem;
			}
		}

		h1 {
			font-size: 3rem;
			text-align: center;
		}

		.description {
			width: 60%;
			margin-top: 3rem;

			@media screen and (max-width: $break-tablet) {
				width: 100%;
			}

			p {
				text-align: center;

				&:not(:first-child) {
					margin-top: 1.5rem;
				}
			}
		}
	}

	.services {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 14rem;
		padding-bottom: 10rem;

		@media screen and (max-width: $break-header) {
			gap: 8rem;
		}

		@media screen and (max-width: $break-medium) {
			flex-direction: column;
			gap: 0;
		}

		> .left {
			width: 40rem;
			min-width: 40rem;
			height: auto;
			position: relative;
			top: -13rem;
			border-radius: 0.8rem;
			overflow: hidden;
			color: #fff;

			@media screen and (max-width: $break-medium) {
				width: 60%;
				min-width: auto;
				top: -8rem;
				margin: 0 auto;
			}

			@media screen and (max-width: $break-tablet) {
				width: 80%;
			}

			@media screen and (max-width: $break-small) {
				width: 100%;
			}

			img {
				width: 100%;
				object-fit: cover;
			}

			.texte {
				width: 102%;
				margin-top: -4rem;
				padding: 6rem 3rem 4rem 3rem;
				background-color: $rouge;
				clip-path: $clip-path;

				h2 {
					margin-bottom: 2rem;
					font-size: 1.8rem;
				}
			}
		}

		> .right {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 10rem;
			grid-row-gap: 5rem;
			align-items: baseline;

			@media screen and (max-width: $break-header) {
				grid-gap: 5rem;
			}

			@media screen and (max-width: $break-medium) {
				width: 70%;
				margin: 0 auto;
			}

			@media screen and (max-width: $break-tablet) {
				width: 90%;
				grid-template-columns: 1fr;
			}

			@media screen and (max-width: $break-small) {
				width: 100%;
			}

			.service {
				@media screen and (max-width: $break-medium) {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
				}

				&:nth-child(even) {
					position: relative;
					top: 2rem;

					@media screen and (max-width: $break-medium) {
						top: 0;
					}
				}

				> .icon {
					--width: 5rem;
					width: var(--width);
					height: var(--width);
					padding: 1.3rem;
					background-color: #fff;
					border-radius: var(--width);
					box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
						0 4px 6px -2px rgba(0, 0, 0, 0.05);

					svg {
						width: 100%;
						height: 100%;
					}
				}

				> h3 {
					margin-top: 2rem;
					font-size: 2rem;

					@media screen and (max-width: $break-medium) {
						text-align: center;
					}
				}

				> p {
					margin-top: 1.5rem;

					@media screen and (max-width: $break-medium) {
						text-align: center;
					}
				}
			}
		}
	}
}
