.introduction {
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3rem 0;

	img {
		width: 25rem;
	}

	h1 {
		font-size: 3rem;
		text-align: center;
	}

	.description {
		width: 60%;
		margin-top: 3rem;

		@media screen and (max-width: $break-tablet) {
			width: 100%;
		}

		p {
			text-align: center;
		}
	}
}
