.index {
  .introduction {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    margin-top: 9.4rem;

    @media screen and (max-width: $break-tablet) {
      margin-top: 0;
    }

    .memoji {
      position: relative;
      text-align: center;

      video {
        width: 16rem;
        margin-top: 2rem;
      }
    }

    h1 {
      font-size: 3rem;
      text-align: center;
    }

    .description {
      width: 60%;
      margin-top: 3rem;

      @media screen and (max-width: $break-tablet) {
        width: 100%;
      }

      p {
        text-align: center;
      }
    }
  }

  .services {
    position: relative;
    padding: 20rem 0 10rem 0;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $gris2;
      clip-path: $clip-path;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 14rem;

      @media screen and (max-width: $break-header) {
        gap: 8rem;
      }

      @media screen and (max-width: $break-medium) {
        flex-direction: column;
        gap: 0;
      }

      > * {
        position: relative;
      }

      > .left {
        width: 40rem;
        min-width: 40rem;
        height: auto;
        position: relative;
        top: -18rem;
        border-radius: 0.8rem;
        overflow: hidden;
        color: #fff;

        @media screen and (max-width: $break-medium) {
          width: 60%;
          min-width: auto;
          top: -8rem;
          margin: 0 auto;
        }

        @media screen and (max-width: $break-tablet) {
          width: 80%;
        }

        @media screen and (max-width: $break-small) {
          width: 100%;
        }

        img {
          width: 100%;
          object-fit: cover;
        }

        .texte {
          width: 102%;
          margin-top: -5rem;
          padding: 6rem 3rem 4rem 3rem;
          background-color: $rouge;
          clip-path: $clip-path;

          h2 {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            line-height: 2.8rem;
            font-weight: bold;
          }
        }
      }

      > .right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10rem;
        grid-row-gap: 5rem;
        align-items: baseline;

        @media screen and (max-width: $break-header) {
          grid-gap: 5rem;
        }

        @media screen and (max-width: $break-medium) {
          width: 70%;
          margin: 0 auto;
        }

        @media screen and (max-width: $break-tablet) {
          width: 90%;
          grid-template-columns: 1fr;
        }

        @media screen and (max-width: $break-small) {
          width: 100%;
        }
      }
    }
  }

  .details {
    background-color: $gris2;
    padding-bottom: 15rem;
  }

  .projects-container {
    position: relative;
    margin-top: -5rem;
    padding: 14rem 0 8rem 0;
    background-color: $bleuFonce;
    clip-path: $clip-path-2;
    color: #fff;

    @media screen and (max-width: $break-medium) {
      clip-path: $clip-path-2-vm;
    }

    .fa-github {
      width: 80%;
      height: 100%;
      position: absolute;
      bottom: 0rem;
      right: -30rem;
      z-index: -1;

      @media screen and (max-width: $break-medium) {
        height: auto;
      }

      @media screen and (max-width: $break-tablet) {
        right: -10rem;
      }

      path {
        fill: #475469;
      }
    }

    > .container {
      text-align: center;
    }

    p {
      margin-top: 2rem;
      font-size: 1.8rem;
      text-align: center;
    }

    .cta {
      margin-top: 6rem;
      padding: 1.5rem 2rem;
    }
  }

  .posts-container {
    padding: 5rem 0 10rem 0;
    background-color: $gris2;

    @media screen and (max-width: $break-tablet) {
      padding-bottom: 17rem;
    }

    > .container {
      text-align: center;

      .posts {
        margin-top: 5rem;
      }

      > a {
        margin-top: 8rem;
        padding: 1.5rem 2rem;
      }
    }
  }
}
