<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
				Thomas Claireau - Développeur PHP Symfony
			{% endblock %}
		</title>

		{% block javascripts %}
			{{ vite_asset('main.js') }}
		{% endblock %}
	</head>
	<body>
		{% include "header.html.twig" %}
		{% block body %}{% endblock %}
		{% include "footer.html.twig" %}
	</body>
</html>
