<footer>
	<div class="container">
		<div class="top">
			<div class="left">
				<img class="memoji" src="/img/memoji.png" alt="memoji-thomas-claireau">
				<h2>Restons en contact !</h2>
			</div>
			<ul class="right">
				<li class="icon">
					<a href="https://www.linkedin.com/in/thomas-claireau/" target="_blank">
						<i class="fab fa-linkedin-in"></i>
					</a>
				</li>
				<li class="icon">
					<a href="https://www.instagram.com/thomasclaireau/" target="_blank">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
				<li class="icon">
					<a href="https://www.facebook.com/thomasclaireau.dev" target="_blank">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
				<li class="icon">
					<a href="https://github.com/thomas-claireau" target="_blank">
						<i class="fab fa-github"></i>
					</a>
				</li>
				<li class="contact">
					<a href="#contact" target="_blank">
						<i class="far fa-envelope-open"></i>
					</a>
				</li>
			</ul>
		</div>
		<p>Copyright ©
			<span class="date"></span>
			- Thomas Claireau</p>
	</div>
</footer>
