<header>
  <div class="container">
    <div class="left --uppercase">Thomas Claireau</div>
    <ul class="right">
      <li>
        <a
          href="https://www.linkedin.com/in/thomas-claireau/"
          target="_blank"
          class="--uppercase"
        >
          Blog
        </a>
      </li>
      <li class="icon">
        <a href="https://www.linkedin.com/in/thomas-claireau/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="icon">
        <a href="https://www.instagram.com/thomasclaireau/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="icon">
        <a href="https://www.facebook.com/thomasclaireau.dev" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="icon">
        <a href="https://github.com/thomas-claireau" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="contact">
        <a
          href="https://github.com/thomas-claireau"
          target="_blank"
          class="button cta"
        >
          <i class="far fa-envelope-open"></i>
          Contactez-moi
        </a>
      </li>
      <li class="toggle-theme light">
        <div class="icons">
          <img src="/img/sun.svg" class="light js-inject-me" />
          <img src="/img/moon.svg" class="dark js-inject-me" />
        </div>
        <span></span>
      </li>
    </ul>
  </div>
  <ul class="menu-mobile">
    <li class="icon">
      <a href="https://www.linkedin.com/in/thomas-claireau/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li class="icon">
      <a href="https://www.instagram.com/thomasclaireau/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="contact">
      <a href="https://github.com/thomas-claireau" target="_blank">
        <i class="far fa-envelope-open"></i>
      </a>
    </li>
    <li class="icon">
      <a href="https://www.facebook.com/thomasclaireau.dev" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li class="icon">
      <a href="https://github.com/thomas-claireau" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</header>
