{% extends 'base.html.twig' %}

{% block bodyClass %}index
{% endblock %}

{% block body %}
	<section class="introduction container">
		<div class="memoji">
			<img src="/img/memoji-once.gif">
		</div>
		<h1>
			Je suis développeur PHP Symfony
			<br>
			et mentor pour Openclassrooms
		</h1>
		<div class="description">
			<p>
				Je m'appelle Thomas Claireau et voici mon portfolio.
			</p>
			<p>
				Je suis développeur PHP Symfony, intégrateur web et spécialisé Wordpress. Je suis également mentor chez Openclassrooms.
			</p>
			{% include "components/availability.html.twig" %}
		</div>
	</section>
	<main>
		<section class="services">
			<div class="container">
				<div class="left">
					<img src="/img/service.jpeg" alt="">
					<div class="texte">
						<h2>
							Création de sites web ou d'applications en PHP, sous le framework Symfony
						</h2>
						<p>
							Je saurais vous accompagner au mieux aussi bien en amont du projet (aide au cahier des charges, conseils) qu’après sa réalisation (optimisation, maintenance).
						</p>
						<p>
							Je suis également à votre disposition si vous souhaitez un avis extérieur sur votre projet web.
						</p>
					</div>
				</div>
				<div class="right">
					<div class="service">
						<div class="icon">
							<img src="/img/service-backend.svg" class="js-inject-me">
						</div>
						<h3>
							Développement backend (Symfony)
						</h3>
						<p>Je met en place l'architecture back-end de votre application tout en respectant les standards de sécurité.</p>
					</div>
					<div class="service">
						<div class="icon">
							<img src="/img/service-cms.svg" class="js-inject-me">
						</div>
						<h3>
							Création de thème sur un CMS
						</h3>
						<p>Je conçois, pour vous, votre thème ou votre plugin
							<strong>administrable</strong>
							sur Wordpress ou Prestashop. Je crée tout type de site : vitrine, e-commerce, intranet...</p>
					</div>
					<div class="service">
						<div class="icon">
							<img src="/img/service-integration.svg" class="js-inject-me">
						</div>
						<h3>
							Intégration web responsive d'une maquette
						</h3>
						<p>Je suis capable de travailler avec un designer web et d'intégrer sa maquette graphique. Je suis également force de proposition sur le responsive, si la maquette n'est pas complète.</p>
					</div>
					<div class="service">
						<div class="icon">
							<img src="/img/service-optimisation.svg" class="js-inject-me">
						</div>
						<h3>
							Optimisation, référencement naturel (SEO) et maintenance
						</h3>
						<p>
							Je développe en ayant connaissance de la
							<strong>performance</strong>
							du site, des principes d'<strong>accessibilités</strong>
							et de la notion de
							<strong>cleancode</strong>. J'ai d'ailleurs, en tant que mentor chez Openclassrooms, l'occasion d'accompagner des étudiants sur ces différentes thématiques.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="details">
			<div class="container">
				<div class="detail backend">
					<div class="content">
						<div class="icon">
							<img src="/img/service-backend.svg" class="js-inject-me">
						</div>
						<h2>Développement backend</h2>
						<ul>
							<li>Mise en place de l'architecture backend en
								<strong>Symfony</strong>
							</li>
							<li>Respect des standards de sécurité</li>
							<li>Tout type d'applications : SaaS, logiciel interne, intranet, extranet, site web</li>
							<li>Développement d'API REST</li>
							<li>Respect des standards OWASP</li>
							<li>Conseils ou audits sur votre architecture existante</li>
						</ul>
					</div>
					<div class="medias">
						<img src="/img/symfony.svg" class="symfony js-inject-me top">
						<img src="/img/php.svg" class="php js-inject-me right">
						{% include "components/button.html.twig" with {"icon": "fab fa-github", "text": "Voir sur Github", "url": "https://github.com/thomas-claireau", "type": "github"} %}
					</div>
				</div>
				<div class="detail cms">
					<div class="medias">
						<div class="left">
							<div class="techno wordpress">
								<div class="icon">
									<img src="/img/wordpress.svg" class="js-inject-me">
								</div>
								Wordpress
							</div>
							<div class="techno react">
								<div class="icon">
									<img src="/img/react.svg" class="js-inject-me">
								</div>
								React.js
							</div>
							<div class="techno next">
								<div class="icon">
									<img src="/img/nextjs.svg" class="js-inject-me">
								</div>
								Next.js
							</div>
						</div>
						<div class="right">
							<div class="techno prestashop">
								<div class="icon">
									<img src="/img/prestashop.svg" class="js-inject-me">
								</div>
								Prestashop
							</div>
							<div class="techno javascript">
								<div class="icon">
									<img src="/img/javascript.svg" class="js-inject-me">
								</div>
								Javascript
							</div>
							<div class="techno sass">
								<div class="icon">
									<img src="/img/sass.svg" class="js-inject-me">
								</div>
								SASS
							</div>
						</div>
					</div>
					<div class="content">
						<div class="icon">
							<img src="/img/service-cms.svg" class="js-inject-me">
						</div>
						<h2>Création de thème sur CMS</h2>
						<ul>
							<li>Création du thème de zéro
								<strong>sans page builder</strong>
								: projet entièrement à votre image.</li>
							<li>Intégration web en suivant la maquette d'un designer</li>
							<li>Maitrise de plusieurs technologies : SASS, Twig, Javascript natif, React.js, Next.js</li>
							<li>Maitrise de différents CMS : Wordpress, Prestashop. Je peux aussi être vite opérationnel sur Joomla, Drupal, Magento...</li>
							<li>Sites administrables : utilisation d'ACF sur Wordpress et une solution personnalisée sur les autres CMS.</li>
							<li>Traitements et optimisation des images</li>
							<li>Amélioration et optimisation du référencement naturel (SEO)</li>
						</ul>
					</div>
				</div>
				<div class="detail integration">
					<div class="content">
						<div class="icon">
							<img src="/img/service-backend.svg" class="js-inject-me">
						</div>
						<h2>Intégration web responsive d'une maquette</h2>
						<ul>
							<li>Intégration fidèle à la maquette du designer</li>
							<li>Intégration responsive. Je suis également force de proposition si cette partie de la maquette est manquante.</li>
							<li>Respect des principes de clean code</li>
							<li>Utilisation de React pour les projets plus complexes</li>
							<li>Respect du W3C : permet d'assurer une compréhension optimale de la page par les navigateurs</li>
							<li>Optimisation SEO pour améliorer votre présence sur le web</li>
							<li>Utilisation des micro-données (JSON+LD) pour montrer le plus d'informations sur votre entreprise.</li>
						</ul>
					</div>
					<a href="https://feelinggoodbakery.fr" target="_blank" class="medias">
						<video src="/img/integration.mp4" autoplay muted loop playsinline></video>
					</a>
				</div>
			</div>
		</section>
		<section class="projects-container">
			<div class="container">
				<h2>Mes principaux projets</h2>
				<p>Voici quelques une de mes dernières réalisations</p>
				<ul class="projects">
					<li>
						<a href="https://github.com/thomas-claireau/feeling-good-bakery" target="_blank">
							<h3>Feeling Good Bakery</h3>
							<div class="image">
								<img src="https://picsum.photos/1920/1080" alt="">
								<span class="year">
									2021
								</span>
								<h4>Feeling Good Bakery</h4>
								<p>Intégration web - SASS - Javascript</p>
							</div>
						</a>
					</li>
					<li>
						<a href="https://github.com/thomas-claireau/bilemo" target="_blank">
							<h3>Bilemo</h3>
							<div class="image">
								<img src="https://picsum.photos/1920/1080" alt="">
								<span class="year">
									2020
								</span>
								<h4>Bilemo</h4>
								<p>Web service exposant une API REST
									<br>
									PHP - Symfony</p>
							</div>
						</a>
					</li>
					<li>
						<a href="https://github.com/thomas-claireau/snowtricks" target="_blank">
							<h3>SnowTricks</h3>
							<div class="image">
								<img src="https://picsum.photos/1920/1080" alt="">
								<span class="year">
									2020
								</span>
								<h4>SnowTricks</h4>
								<p>Développement du site communautaire
									<br>
									PHP Symfony</p>
							</div>
						</a>
					</li>

				</ul>
				{% include "components/button.html.twig" with {"icon": "fas fa-tv", "text": "Voir plus de projets", "url": "https://github.com/thomas-claireau?tab=repositories&q=topic%3Acompleted-project&type=&language=&sort=", "type": "cta"} %}
			</div>
		</section>
	</main>
{% endblock %}
