{% extends 'base.html.twig' %}

{% block body %}
	<section class="introduction container">
		<img src="/img/memoji-once.gif">
		<h1>
			Je suis développeur web fullstack,
			<br>
			spécialisé en PHP Symfony
		</h1>
		<div class="description">
			<p>
				Je m'appelle Thomas Claireau et voici mon portfolio.
			</p>
			<p>
				Je suis développeur PHP Symfony, intégrateur web et spécialisé Wordpress. Je suis également mentor chez Openclassrooms.
			</p>
		</div>
	</section>
{% endblock %}
