.author {
	margin-top: 1.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;

	.avatar {
		--size: 5rem;
		width: var(--size);
		min-width: var(--size);
		height: var(--size);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $bleuClair;
		border-radius: var(--size);

		img {
			--size: 75%;
			width: var(--size);
			height: var(--size);
			object-fit: contain;
		}
	}

	.infos {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
		text-transform: uppercase;

		h4 {
			font-size: 1.4rem;
			font-weight: 600;
			letter-spacing: 0.05rem;
		}

		> div {
			font-size: 1.3rem;
			color: $gris;
		}
	}
}
