.slider {
	width: 100%;
	min-height: 570px;
	position: relative;
	margin-top: -100px;

	@media screen and (max-width: $break-large) {
		min-height: auto;
	}

	.swiper-container {
		width: 100%;
		height: 100%;

		@media screen and (min-width: $break-large + 1) {
			padding: 10px 0;
		}

		.swiper-slide {
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-direction: column;
			padding-bottom: 25px;
			background-color: #fff;
			color: $dark;
			transform: translateY(0px);
			transition: transform 0.3s ease-in-out;

			&:hover {
				@media screen and (min-width: $break-large + 1) {
					transform: translateY(-10px);
					transition: transform 0.3s ease-in-out;
				}

				> .go > i {
					background-color: $dark;
					color: $light;
					transition: all 0.3s ease-in-out;
				}
			}

			> div {
				h2,
				.informations,
				.description {
					padding: 0 25px;
				}

				> img {
					width: 100%;
					max-height: 50%;
					min-height: 200px;
					object-fit: cover;
				}

				> h2 {
					font-size: 22px;
					text-transform: uppercase;
				}

				.informations {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				.avatar {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					font-weight: 600;

					img {
						width: 45px;
						height: 45px;
						margin-right: 10px;
						border-radius: 100%;
					}
				}

				.date {
					font-size: 18px;
					font-weight: 300;
				}

				.description {
					margin-top: 20px;
				}
			}

			> .go {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 10px 25px 0 25px;

				@media screen and (max-width: $break-medium) {
					display: none;
				}

				> div {
					display: flex;
					justify-content: flex-start;
					align-items: center;

					svg {
						margin-right: 10px;
					}
				}

				> i {
					width: 40px;
					height: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 25px;
					border: 2px solid $dark;
					border-radius: 100%;
					transition: all 0.3s ease-in-out;
				}
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: auto;
		bottom: -20%;
		transform: translateX(-50%);
		font-weight: 500;

		@media screen and (max-width: $break-large) {
			display: none;
		}

		@media screen and (max-height: 900px) {
			bottom: -12%;
		}
	}

	.swiper-button-prev {
		left: 45%;

		&:after {
			color: $dark;
		}
	}

	.swiper-button-next {
		right: 45%;

		&:after {
			color: $light;
		}
	}
}
