<div class="availability">
	<div class="available">
		<span>
			Disponible
		</span>
	</div>
	<div class="available-on display">
		<span>
			Disponible le
			<strong>25 janvier 2021</strong>
		</span>
	</div>
	<div class="unavailable">
		<span>
			Indisponible
		</span>
	</div>
</div>
