<div class="availability">
	<div class="available">
		Disponible
	</div>
	<div class="available-on display">
		Disponible en
		<strong>Septembre 2021</strong>
	</div>
	<div class="unavailable">
		Indisponible
	</div>
</div>
