<div class="availability">
	<div class="available display">
		Disponible
	</div>
	<div class="available-on">
		Disponible le
		<strong>25 janvier 2021</strong>
	</div>
	<div class="unavailable">
		Indisponible
	</div>
</div>
