<div class="hireme">
	<div class="container">
		<h2>Démarrons un projet</h2>
		<p>Et si on travaillait ensemble ?
			<br>
			Rencontrons nous !</p>
		{% include "components/button.html.twig" with {"icon": "far fa-envelope-open", "text": "Me contacter", "url": "#", "type": "cta"} %}
	</div>
</div>
