<div class="hireme">
	<h2>Démarrons un projet</h2>
	<p>Vous voulez qu'on travaille ensemble ?
		<br>
		Rencontrons nous !</p>
	{% include "components/button.html.twig" with {"icon": "far fa-envelope-open", "text": "Me contacter", "url": "#", "type": "cta"} %}
</div>
