{# Layout : one / two / full #}
{% set layout = layout is defined ? layout : false %}
{% set posts = posts is defined ? posts : false %}

<div class="posts {{ layout }}">
	{% for post in posts %}
		<article class="post">
			<img class="thumbnail" src="https://picsum.photos/1920/1080" alt="">
			<span class="tags">
				Javascript, PHP
			</span>
			<h3>Créer un site Wordpress Headless de zéro</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nulla, beatae maxime, quo fugiat sapiente et veniam ducimus magnam culpa omnis natus voluptatem possimus</p>
			<div class="author">
				<img src="/img/memoji.png" alt="">
				<div class="infos">
					<h4>Thomas Claireau</h4>
					<div>
						<span class="date">
							17 Juin 2021
						</span>
						<span class="time">
							2 min read
						</span>
					</div>
				</div>
			</div>
		</article>
	{% endfor %}
</div>
