.sidebar-info {
	list-style-type: none;
	font-size: 17px;

	&:not(:first-of-type) {
		margin-top: 25px;
	}

	&.avatar {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		img {
			width: 45px;
			height: 45px;
			border-radius: 100%;
			margin-right: 10px;
		}
	}

	.label {
		font-weight: 300;
		margin-bottom: 3px;
	}

	.values {
		&.flex {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			align-items: center;
			margin-top: 5px;

			.value {
				margin-top: 10px;

				&:not(:first-of-type):not(.share) {
					margin-left: 5px;
				}

				svg {
					width: 30px;
					height: 30px;
				}
			}
		}
	}

	.value {
		font-weight: 600;
		color: $light;

		&.share {
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			background-color: #fff;
			cursor: pointer;
			transform: scale(1);
			transition: all 0.3s ease-in-out;

			&:hover {
				transform: scale(1.05);
				transition: all 0.3s ease-in-out;
			}

			&:after {
				font-family: FontAwesome;
				color: #fff;
			}

			&:not(:first-of-type) {
				margin-left: 15px;
			}
		}

		&.facebook {
			background-color: $facebook;

			&:after {
				content: '\f09a';
			}
		}

		&.linkedin {
			background-color: $linkedin;

			&:after {
				content: '\f0e1';
			}
		}

		&.twitter {
			background-color: $twitter;

			&:after {
				content: '\f099';
			}
		}

		svg {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 10px;

			#wordpress path {
				fill: #fff;
			}
		}

		i {
			color: #41b883;
		}
	}
}
