@import './reset';
@import './typography';

html {
	font-size: 10px;
	overflow-x: hidden;

	@media screen and (max-width: $break-large) {
		font-size: 9px;
	}

	@media screen and (max-width: $break-medium) {
		font-size: 8.5px;
	}
}

body {
	color: $bleuFonce;
}
