.projects {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 9rem;
  list-style-type: none;

  @media screen and (max-width: $break-medium) {
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
  }

  > li {
    width: 100%;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;

    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }

  > li > a > div {
    width: 100%;
    height: 25rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    padding: 0 1rem 3rem 1rem;
    border-radius: 1rem;
    overflow: hidden;
    mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    // disable bug hover safari
    @media screen and (max-width: $break-medium) {
      height: 40rem;
    }

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0.2;
      transition: all 0.3s ease-in-out;
      z-index: 1;

      @media screen and (max-width: $break-medium) {
        opacity: 0.4;
      }
    }

    &:hover {
      @media screen and (min-width: $break-medium + 1) {
        &:before {
          opacity: 0.5;
          transition: all 0.3s ease-in-out;
        }

        img {
          transform: scale(1.05);
          transition: all 0.3s ease-in-out;
        }

        > *:not(img):not(svg) {
          opacity: 1;
          transition: all 0.3s ease-in-out;
        }

        svg {
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    > *:not(div):not(svg) {
      position: relative;
      color: #fff;
      z-index: 10;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      @media screen and (max-width: $break-medium) {
        opacity: 1;
      }
    }

    svg {
      width: 20% !important;
      height: 20%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      transition: all 0.3s ease-in-out;

      @media screen and (max-width: $break-medium) {
        display: none;
      }

      path {
        fill: #e3e3e3;
      }
    }

    .img-container {
      position: initial;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      transform: scale(1);
      transition: all 0.3s ease-in-out;
      z-index: 0;
    }

    > .year {
      font-size: 1.5rem;
    }

    > h4 {
      font-size: 3rem;
      text-align: center;
    }

    > p:first-child {
      margin: 1rem 0 0 0;
      font-size: 1.3rem;
      text-align: center;
    }
  }
}
