.--hide {
	position: absolute !important;
	opacity: 0 !important;
	z-index: -1 !important;
}

.--dark {
	color: $dark;
}

.--bg-dark {
	background-color: $dark;
}

.--light {
	color: $light;
}

.--bg-light {
	background-color: $light;
}

.--uppercase {
	text-transform: uppercase;
}
