*,
*:after,
*:before {
	font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

p {
	font-size: 1.5rem;
	line-height: 2.4rem;
}

h2 {
	margin-top: 1rem;
	font-size: 3.3rem;
	font-weight: 500;
	line-height: 1.3;
}
