@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$mainFont: 'Open Sans';

$dark: #34485e;
$light: #ecf0f0;
$link: #6565cd;

$facebook: #14a0f9;
$linkedin: #0274b3;
$twitter: #1da1f2;

$break-mini: 374px;
$break-small: 425px;
$break-tablet: 768px;
$break-medium: 1024px;
$break-large: 1210px;
$break-header: 1600px;
$break-header-xl: 1700px;
