@import './modifier';
@import './swiper';

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: $mainFont;
	background-color: $dark;

	@media screen and (max-width: $break-large) {
		background-color: $dark;
	}

	&.fetching-error {
		overflow: hidden;

		> *:not(.fetching-error) {
			filter: blur(5px);
		}
	}

	#__next {
		width: 100%;
		height: 100%;
	}

	#app {
		width: 100%;
		height: 100%;
		position: relative;
		padding: 45px 55px;
		transition: all 0.3s ease-in-out;

		@media screen and (max-width: $break-tablet) {
			padding: 45px 20px !important;
		}

		&:not(.--menu-open) {
			@media screen and (max-width: $break-large) {
				padding: 0 !important;
			}
		}

		&.--menu-open {
			overflow: hidden;
		}
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
.h1 {
	margin: 0;
	font-size: 65px;
	line-height: 65px;
	font-weight: bold;
	letter-spacing: 1.96px;

	@media screen and (max-height: 730px) {
		font-size: 50px;
		line-height: 50px;
	}

	@media screen and (max-width: $break-large) {
		width: 80%;
		color: $light;
	}

	@media screen and (max-width: $break-tablet) {
		width: 100%;
		font-size: 45px;
		line-height: 50px;
		letter-spacing: 1px;
	}

	@media screen and (max-width: $break-small) {
		font-size: 40px;
		line-height: 40px;
	}
}

a {
	display: block;
	text-decoration: none;

	&.active {
		pointer-events: none;
	}
}

p {
	font-size: 17px;
	margin: 20px 0 0 0;
	padding: 0;

	@media screen and (max-height: 730px) {
		font-size: 15px;
	}
}

.projet {
	svg {
		#wordpress path {
			fill: #fff;
		}
	}
}
